html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of css reset*/

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
}
#playlistName {
  margin: auto;
  width: 50%;
}
#addPlaylistButton {
  margin: auto;
}
#songlist {
  padding: 1em;
  background-color: rgb(155, 153, 153);
  grid-column: 1/5;
  grid-row: 1/9;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em 2em rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 90%;
  display: flex;
  justify-self: center;

  align-self: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}
#songCard {
  padding: 0em;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 6fr 1fr;
  grid-column: 2;
  margin-bottom: 2vh;
  width: 100%;
  background-color: bisque;
  border-radius: 1em;

  height: 8em;
}
#img {
  grid-column: 1;
  grid-row: 1/3;
  height: inherit;
  display: flex;
  justify-self: center;

  border-radius: 0.5em;
}
#songInfo {
  grid-column: 2/5;
  grid-row: 1/3;
  margin: auto;
}
#songName {
  justify-self: center;
  text-align: center;
  font-size: 1.5em;
  margin: 0 0 0 0;
  height: min-content;
  width: fit-content;
}
#songDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}
#songDetails p {
  margin-top: 0.2em;
}

#play {
  display: flex;
  justify-self: center;
  margin-top: 0.3em;
}
